<div class="containerContact">	
	<div class="col-md-12 text-center">
	  <form method="POST" action="/contact">
	    <label for="name">Please enter your username: </label>
	    <input type="text" name="name" placeholder="username" />
	    <br>
	    <br>
	    <label for="email">please confirm your contact email: </label>
	    <input type="email" name="email" placeholder="email" />
	    <br>
	    <br>
	  	<textarea cols="30" rows="10" name="message"></textarea>
	  	<br>
	  	<br>
	  <input type="submit" class="btnContact"/>
	  </form>
	  <span id="console"><%= @msg %></span>
	</div>
</div>