 <div class="row">
		<div class="col-md-12 text-center">
			<ul class="nav nav-pills">
				 <li role="presentation" class="active"><a href="/">Home</a></li>
				  <li role="presentation"><a href="/search_users">Search</a></li>
				  <li role="presentation"><a href="/profile"> THIS WILL SHOW THEIR FIRST NAME AND LAST NAME </a></li>
				  <li role="presentation"><a href="/contact">Contact Us</a></li>
			 </ul>
		</div>
	</div>