<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<!-- jQuery Library -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<!-- bootstrap Library -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- fontawesome Library -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

	<!-- css stylesheet -->
	<link rel="stylesheet" type="text/css" href="/<%= @style %>"> 

	<!-- javascript  -->
	<script src="/js/main.js"></script>

	<title> <%= @title %> </title>
</head>

<body>
	<div class="container" id="contactCon">
		<div class="row">
			<div class="col-xs-1 text">
				<li><a href="/" class="navText"> Home </a></li>
			</div>
			<div class="col-xs-1 text">
				<li><a href="/profile" class="navText"> My Profile </a></li>
			</div>
			<div class="col-xs-2 text">
				<li><a href="/stats" class="navText"> Food for Thought </a></li>
			</div>
			<div class="col-xs-1 text">
				<li><a href="/contact" class="navText"> Contact </a></li>
			</div>
			<div class="col-xs-2 text">
				<li><a href="/settings" class="navText"> Settings </a></li>
			</div>
			<div class="col-xs-5 sBtn">
				<form class="searchBar">
    				<input type="text" placeholder="Search">
    				<button type="submit" class="btn btn-default"> Submit </button>
    			</form>
			</div>
			
		</div>
	</div>

	<div class="mainContent">
		<%= yield %>
	</div>

	<div id="footerTag">
		&copy; IzzArnold 2016
	</div>
</body>
</html>

