<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<!-- jQuery Library -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<!-- bootstrap Library -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- fontawesome Library -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

	<!-- css stylesheet -->
	<link rel="stylesheet" type="text/css" href="/<%= @style %>"> 

	<!-- javascript  -->
	<script src="/js/main.js"></script>

	<title> <%= @title %> </title>
</head>

<body<%= body_class %>>
	<header id="contactCon">
		<nav>
			<ul>
				<li><a href="/" class="navText"> Home </a></li>
				<li><a href="/profile" class="navText"> Profile </a></li>
				<li><a href="/contact" class="navText"> Contact </a></li>
				<li><a href="/settings" class="navText"> Settings </a></li>
			</ul>
			<form class="searchBar">
				<input type="text" placeholder="Search">
				<button type="submit" class="btn btn-default"> Submit </button>
			</form>
			<ul>
				<li><a href="/sign_up" class="navText"> Logout </a></li>
			</ul>
		</nav>
	</header>
	<div class="mainContent">
		<%= yield %>
	</div>

	<div id="footerTag">
		&copy; IzzArnold 2016
	</div>
</body>
</html>

