<div class="settingsWrapper">
	<div class="container">	
		<div class="row">
			<div class="col-xs-2">
			</div>
			<div class="col-xs-4">
				<form method="POST" action="/settings" id="settingsForm">
<!-- 				<label for="name">Your name: <= @user.first_name + " " + @user.last_name if @user ></label> -->
				<label for="name">Your name: Cam Crews</label>
				<br>
				<br>
				<label for="email">Your contact email: camcrews@nycda.com</label>
				<br>
				<br>
				<label for="name">Your username: camerican</label>
				<br>
				<br>
				<label for="name">Your password: hawaii</label>
				<br>
				<br>
				<input type="submit" class="btnContact" value="Edit" />
				</form>
				<span id="console"><%= @msg %></span>
			</div>
		</div>
	</div>
</div>
