<script>
document.addEventListener("DOMContentLoaded",function(){
//ref: http://stackoverflow.com/questions/13389751/change-tag-using-javascript#answer-13389835	
	document.querySelector('.btnSettings[value=Edit]').addEventListener('click', toggleInput );
});
function toggleInput(event){
	var fields = ["first_name","last_name","email","username","password"];
	fields.forEach( function(field) {
		var span = document.getElementById(field);
		var input = document.createElement("input");
		input.value = span.innerText;
		input.name = field;
		span.parentNode.insertBefore(input,span);
//			span.parentNode.removeChild(span);
		span.remove();
	});
	event.preventDefault();
	event.target.value = "Save";
	event.target.removeEventListener('click',toggleInput);
	document.getElementById("toggleVisible").style.visibility = "hidden";
}
</script>

<div class="settingsWrapper">
	<div class="container">	
		<div class="row">
			<div class="col-xs-4">
			</div>
			<div class="col-xs-4">
				<form method="POST" action="/settings" id="settingsForm">
				<label for="first_name">First Name:</label>
				<span id="first_name">Cam</span>
				<br>
				<br>
				<br>
				<label for="last_name">Last Name:</label>
				<span id="last_name">Crews</span>
				<br>
				<br>
				<br>
				<label for="email">email:</label>
				<span id="email">camcrews@nycda.com</span>
				<br>
				<br>
				<label for="username"> Username: </label>
					<span id="username">camerican</span>
				<br>
				<br>
				<label for="password"> Password: </label>
					<span id="password">hawaii</span>
				<br>
				<br>
				<div class="btnSettingsAlign">
					<input type="submit" class="btnSettings" value="Edit My Profile" />
					<input type="submit" class="btnSettings" id="toggleVisible" value="Delete My Profile" />
				</div>
				</form>
					<span class="tempMsg" id="console"><strong><%= @msg %></strong></span>
			</div>
		</div>
	</div>
</div>
