
<div class="signinWrapper">
	<h1 class="welcome"> Fools for Food </h1>
	<h5 class="welcome"> Login required </h5>
		<form method="POST" action="/sign_in">
			<input type="text" name="username" placeholder="Username" autocomplete="off" id="usernameLog" class="inputLog">
				<br>
					<input type="password" name="password" placeholder="Password" maxlength="25" minlength="10" autocomplete="off" id="passwordLog" class="inputLog">
				<br>
					<input type="submit" name="button" value="Login" id="btnLog" class="inputLog">
				</form>
			<span id="console"><%= @msg %></span>
		</form>
</div>

<!-- <div class="imagegallery">
	<img class="rotatingimage" src="/img/dogBurger.jpeg">
	<img class="rotatingimage" src="http://www.faviana.com/blog/wp-content/uploads/2015/09/shakeshack.jpg">
</div>
<div class="imagegallery">
	<img class="rotatingimage" src="/img/icecream.jpeg">
	<img class="rotatingimage" src="/img/pasta.jpeg">
</div>
 -->