
<div>
	<h1 id="signupMes"> Not a member? Sign up! </h1>
</div>
<div class="signupWrapper">
		<h1> Fools for Food </h1>
		<form method="POST" action="/home">
		<h5> Make a free account </h5>
			<input type="text" name="name" placeholder="First name" autocomplete="off" class="inputLog">
			<input type="text" name="name" placeholder="Surname" autocomplete="off" class="inputLog">
		<br>
			<input type="text" name="email" placeholder="Email" autocomplete="off" id="emailLog" class="inputLog">
		<br>
			<input type="password" name="password" placeholder="Password" maxlength="25" autocomplete="off" id="passwordLog" class="inputLog">
		<br>
			<input type="submit" name="button" id="btnLog" class="inputLog">
		</form>
	<span id="console"><%= @msg %></span>
</div>
