/* Layout Page Style */
*{
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

.mainContent{
	min-height: 600px;
}

#contactCon{
	border: solid lightgrey 1px;
	background-color: lightgrey;
	margin-bottom: 20px;

}

.searchBar{
	padding-bottom: 3px;

}

.btnContact{
	padding: 0px 10px;
}
.sBtn{
	padding-top: 1px;
	padding-bottom: 1px;
}

.col-md-6{
	padding: 10px;
}

#footerTag {
	font-size: 13px;
	padding-top: 15px;
	font-family: Copperplate, "Copperplate Gothic Light";
	text-align: center;
}

.text{
	padding-top: 7px;
	color: 
}




/* Home Page Style */

/* Contact Page style */

.navbar-form{
	padding: 0px 50px;
}




.navbar{
	position: relative;
}

#cLim{
	font-size: 10px;
	opacity: .3;

}

#contactForm{
	border: solid lightgrey 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-max-width: 650px;
}

.text-center{
	padding-top: 10px;
}
.contText{
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}


/* Profile Page style */

.commentdetails{
	width: 250px;
	border: solid black 1px;
	margin: 0 auto;
}

/* Search_Users Page style*/

